<html >

<head>
    <meta charset="utf-8">
    <style>
      table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse;
            background-color: #e0c780; 
        } 
          
        th, td { 
            padding: 20px; 
        } 
          
        th { 
            text-align: left; 
        } 
    </style>
</head>

<body>
    <section class="home">
    <h1>DATA STORED IN THE TABLE</h1>
    <ul class="list-group">
        
           <table>
            <tr>
            <th>
              Name
            </th>
            <th>
              email
            </th>
            <th>
           
              password
            </th>
          </tr>
            <% for(var i=0; i<contacts.length; i++) {%>
              <tr>
                <td>
            <%= contacts[i].name %>
              <td>
              <%= contacts[i].email %>
              </td>
              <td>
             <%= contacts[i].password %>
              </td>
            </tr>
              <% } %>
           </table>
                
     
  </body>

</html>